[Unit]
Description=INSECA manager service

[Service]
Type=simple
Environment="PYTHONPATH=/opt/inseca"
ExecStart=/opt/inseca/manager
TimeoutSec=5
RestartSec=5
Restart=always
TimeoutStopSec=30

[Install]
WantedBy=default.target
